{{>header}}
{{>nav}}
<section class="my-5 container">
    <form method="post">
        <div class="mb-3">
            <input class="form-control" placeholder="Name" name="name" >
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="accNum" name="accNum" >
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="intialBalance" name="intialBalance" >
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="remainigBalance" name="remainigBalance" >
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add Customer</button>
        </div>
    </form>    
</section>
{{>footer}}
