{{>header}}
{{>nav}}
<section class="my-5 container">
    <form >
        <div class="mb-3">
            <input class="form-control" placeholder="optype" name="optype" value="{{customer.optype}}">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="opvalue" name="opvalue" value="{{customer.opvalue}}">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" value="addop" name="addop">Add Op</button>
        </div>

    </form>    
</section>
{{>footer}}
